{% extends "master.html" %}
{% block title %}{{user}}'s Canvas Tools{% endblock %}
{% block body %}
<h1>Hello, {{user}}</h1>
<p>Please feel free to access our Canvas tools!</p>
<p><a href="{{ url_for('take_it_offline') }}"><button>Take it Offline!</button></a> - A tool for students who cannot always access the internet.</p>
<p><a href="{{ url_for('construction') }}"><button>Final Quest</button></a> - Under construction</p>
<p><a href="{{ url_for('construction') }}"><button>You're a Star</button></a> - Under construction</p>
</div>
{% endblock %}