{% extends "master.html" %}
{% block title %}Take it Offline{% endblock %}
{% block body %}
<div class="container">
  <p>Selected Course: {{ course_obj.get_name() }}</p>
  <form name="item_selection"
  	action="{{ url_for('selected_items') }}"
  	method="POST">
	  <ol>
	  {% for module in module_list %}
	  	<li>{{ module['name'] }}
	  		<ul style="list-style-type: none;">
		  	{% for item in module.get_items() %}
		  		{% if item['type'] == 'Page' or item['type'] == 'File' %}
		  		<li>
		  			<input type="checkbox"
		  				name="{{ item['title'] }}"
		  				value="{{ item['url'] }}" checked>
		  			{{ item['title'] }}
		  		</li>	
		  		{% endif %}
		  	{% endfor %}
	  		</ul>
	  	</li>
	  {% endfor %}
	  </ol>
	  <button type="submit">Export Content</button>
  </form>
</div>
<p><a href="{{ url_for('index') }}"><button>Home</button></a></p>
{% endblock %}