{% extends "master.html" %}
{% block title %}Take it Offline{% endblock %}
{% block body %}

<div class="container">
  <p>Select course:</p>

  <form name="class_selection" action="{{ url_for('modules_list') }}" method="POST" enctype="multipart/form-data">
    <select name="course" id="course_select">
      {% for n in wco.course_list %}
        <option>{{ n['name'] }}</option>
      {% endfor %}
    </select>
    <button type="submit">Choose Course</button>
  </form>
</div>

<p><a href="{{ url_for('index') }}"><button>Home</button></a></p>

{% endblock %}